html, body {
    font-family: 'Be Vietnam', sans-serif;
    overflow-x: hidden;
    position: relative;
}

.bright-red {
    background-color: hsl(12, 88%, 59%);
}

.text-red {
    color: hsl(12, 88%, 59%);
}

.pale-red {
    background-color: hsl(13, 100%, 96%);
}

.dark-blue {
    color: hsl(228, 39%, 23%);
}

.very-dark-blue {
    background-color: hsl(233, 12%, 13%);
}

.very-light-gray {
    color: hsl(0, 0%, 98%);
}

.dark-grayish {
    color: hsl(227, 12%, 61%);
}

.tablet-1 {
    z-index: -1;
    position: absolute;
    margin-top: -60px;
    margin-left: 80px;
}

.tablet-2 {
    z-index: -1;
    position: absolute;
    margin-top: -280px;
    margin-left: 250px;
}

.tablet-3 {
    opacity: 10%;
    position: absolute;
    margin-top: -50px;
    margin-left: -310px;
}

.w-full {
    width: 400px;
}

.shadow-red {
    box-shadow: rgb(250, 207, 187) 0px 8px 12px;
}

button:focus {
    outline:none;
}

/* start menu */

.overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: rgb(77,77,77);
    background: linear-gradient(0deg, rgba(77,77,77,0.4066001400560224) 0%, rgba(236,236,236,0.0760679271708683) 100%);
    /* background-color: rgba(0, 0, 0, 0.473);
    background-color: rgba(0, 0, 0, 0.336); */
}

.show {
    display: block;
}

/* end menu */

@media only screen and (min-width: 768px) {
    .tablet-1 {
        width: 700px;
        z-index: -1;
        position: absolute;
        margin-top: -240px;
        margin-left: 710px;
    }

    .tablet-2 {
        width: 700px;
        z-index: -1;
        position: absolute;
        margin-top: 350px;
        margin-left: -500px;
    }
}